.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}
img{
	border-radius: 10px;
}
.site-main{ 
	a[href$=".doc"]  {
		padding-left: 25px;
		background-image: url('images/office-file-doc.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: left;
	}
	
	a[href$=".docx"]  {
		padding-left: 25px;
		background-image: url('images/office-file-doc.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: left;
	}
	
	a[href$=".xls"] {
		padding-left: 25px;
		background-image: url('images/office-file-xls.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: left;
	}
	
	a[href$=".xlsx"]{
		padding-left: 25px;
		background-image: url('images/office-file-xls.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: left;
	}
		
	
	a[href$=".pdf"] {
		padding-left: 25px;
		background-image: url('images/office-file-pdf.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: left;
	}

	a[href^="http"]:not([href*="saint-martin-fr.ch"]) {
		padding-left: 25px;
		background-image: url('images/app-window-link.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: left;
	}
	.wp-block-file{
		a{
			background-image:none;
			padding-left: 0;
			&.wp-block-file__button{			
				padding:.5em 1em;
				&:visited{
					color: #fff;
				}
			}
		}
	}
}