
@media (max-width: 781px){
    .site-footer p {
        font-size: 14px;
    }
}
@media (min-width: 782px){
    #secondary{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}
.site-footer{
    background-color: $color__footer;
    color: $color__background-body; 
    padding: 80px 0 0;
}
.site-info{
    font-size: 12px;
    background-color: $color__footer-info;
    color: $lapis-lazuli !important;
    .container-l{
        padding: 10px 20px;
    }
    a{
        color:$lapis-lazuli
    }
}