#masthead{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    height: 50px; 
}
.custom-logo{
    width: 200px;
    margin: auto 20px -50px;
    max-width: 100%;
    z-index: 1;
    position: relative;
}

.header-image{
    img{
        width: calc(100% - 40px);
        margin: 10px 20px 10px;
    }
}
.site-title,
.site-description{
    position: fixed;
    top:-100px;
}
@media screen and (min-width: 820px) {
    #masthead{
        height: 100px;
    }
    .custom-logo{
        width: 400px;
        margin: auto 50px -50px;
    }
}    