.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.container-l{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.blog #primary .latest-news{
    background-color: $color__background-screen;
}
.latest-news > .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 
#page .entry-header,
.single .entry-header{
    h1{
        height: 200px;
        width: calc(100% - 40px);
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(0,0,0,0.2);
        color: $color__background-body;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $border-radius; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: $font__normal;
        text-transform: uppercase;
        transition: background-color 2s ease-in-out;
    }
    h1:hover{
        background-color: rgba(0,0,0,0);
    }
}
@media screen and (min-width: 37.5em) {
    #page .entry-header h1,
    .single .entry-header h1{
        height: 400px;
    }
} 
.bienvenue{
    padding-top: 100px;
    background-image: url("images/dots-gradient.png");
    background-repeat: repeat-x;
}
@media (max-width: 781px){
    .photos-presentation{
        .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
            flex-basis:auto !important;
        }
        .wp-block-columns {
            flex-wrap: nowrap !important;
        }
    }
}

.photos-presentation{
    :where(.wp-block-columns.is-layout-flex){
        gap: 1em;
    }
    figure {
        margin: 0.5em 0px;
    }
}