
@media screen and (min-width: 1199px) {
  .latest-news .container-l {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
    grid-auto-rows: 20px;
  }
}
  .latest-news .container-l article {
    background-color: $color__background-body;
    padding: 20px 50px; 
    border-radius: $border-radius;
  } 