.latest-news .container-l {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-auto-rows: 20px;
  }
  .latest-news .container-l article {
    background-color: $color__background-body;
    padding: 10px;
  }
  