#quicklinks{
    display: grid;
    text-transform: uppercase;
    .quicklink{
        text-align: center;
        a{
            border-radius: $border-radius;
            display: block;
            padding: 10px 10px 10px;
            color:$color__navlink;
            text-decoration: none;
            background-color: $color__background-nav;
            transition: background-color .5s;
            &:hover{
                background-color: $color__background-screen-right;
            }
        }
        img{
            border-radius: 0px;
        }
    }
}
#quicklinks{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px 10px;
    .quicklink{
        margin: 5px;
        img{
            width:40px;
        }
        figcaption{
            line-height: 12px;
            font-size: 8px;
            min-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@media screen and (min-width: 640px) {
#quicklinks{
    padding: 0 10px 20px;
    .quicklink{
        img{
            width:44px;
        }
        figcaption{
            line-height: 18px;
            font-size: 14px;
            min-height: 50px;
        }
    }
}
}
@media screen and (min-width: 820px) {
    #quicklinks{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 800px;
        margin: 0 auto;
        .quicklink{
            a{
                height: 180px;
                width: 180px;
                padding: 30px 10px 10px;
            }
            img{
                width:48px;
                border-radius: 0px;
            }
            figcaption{
                line-height: 20px;
                font-size: 15px;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    #quicklinks{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 1200px;
        .quicklink{
            a{
                height: 130px;
                width: 130px;
                padding: 10px 10px 10px;
            }
            img{
                width:44px;
            }
            figcaption{
                line-height: 18px;
                font-size: 14px;
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    #quicklinks{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 1400px;
        .quicklink{
            a{
                height: 160px;
                width: 160px;
                padding: 20px 10px 10px;
            }
            img{
                width:48px;
            }
            figcaption{
                line-height: 20px;
                font-size: 15px;
            }
        }
    }
}