$color__background-body: #fff;
$color__background-screen: #EEF1F3;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-nav: #F5F7F8;
$color__background-nav-hover: #e8edef;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #004980; //purple
$color__link-hover: #36506c; //midnightblue
$color__text-main: #222426;
$color__title: #013456;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__navlink: #5D5D5D;
$color__footer: #013456;
