/* SCSS HEX */
$prussian-blue: #112333;
$prussian-blue-2: #003253;
$indigo-dye: #00457a;
$cg-blue: #1175a4;
$lapis-lazuli: #1a5c88;




$color__background-body: #fff;
$color__background-screen: #EEF1F3;
$color__background-screen-right: #DEE5E8;
$color__background-hr: #ccc; 
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-nav: #F5F7F8;
$color__background-nav-hover: #e8edef;

$color__text-screen: $cg-blue;
$color__text-input: #666;
$color__text-input-focus: $prussian-blue-2;
$color__link: $cg-blue; 
$color__link-visited: $indigo-dye; //purple 
$color__link-hover: $lapis-lazuli; //midnightblue
$color__text-main: $prussian-blue-2;
$color__title: $prussian-blue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__navlink: #5D5D5D;
$color__footer: $prussian-blue-2;
$color__footer-info: $prussian-blue;
